body {
  background-color: #f5f5f5;
}

h1 {
  margin-top: 20px;
}

#main-container {
  width: 100%;
  max-width: 700px;
  padding: 5px;
  margin: auto;
}

.content {
  margin-top: 20px;
}

.warning {
  background-color: #e8e26f;
  text-align: center;
  display: block;
}

.login-details {
  width: 100%;
  text-align: right;
  
}

.login-form {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.form-block {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 400px;
}

.form-block > label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
